@import "./tokens.scss";

#hero-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1.4em;
  gap: 2rem;

  img#tree-cloud {
    width: 20em;
  }

  @include viewport(tablet) {
    img#tree-cloud {
      width: 17.5em;
    }
  }

  @include viewport(mobile) {
    flex-direction: column;
    img#tree-cloud {
      width: 100%;
    }
  }
}

