/*
  Colours
*/

:root {
  --color-white: #fff;
}

/*
  Typography
*/
@font-face {
  font-family: "Hubot Sans";
  src: url('/2023-roothacks/build/assets/fonts/Hubot-Sans-Regular.woff2');
  src: url('/2023-roothacks/build/assets/fonts/Hubot-Sans-Regular.woff2') format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Hubot Sans";
  src: url('/2023-roothacks/build/assets/fonts/Hubot-Sans-SemiBold.woff2');
  src: url('/2023-roothacks/build/assets/fonts/Hubot-Sans-SemiBold.woff2') format("woff2");
  font-weight: 600;
  font-style: normal;
}

/*
  Media Queries
*/
$container-max-width: 1500px;
$gutter: 1.75rem;

$tablet-min-width: 768px;
$desktop-min-width: 1025px;

@mixin viewport($media) {
  @if $media == mobile {
    @media only screen and (max-width: ($tablet-min-width - 1)) {
      @content;
    }
  } @else if $media == mobile-tablet {
    @media only screen and (max-width: ($desktop-min-width - 1)) {
      @content;
    }
  } @else if $media == tablet {
    @media only screen and (min-width: $tablet-min-width) and (max-width: ($desktop-min-width - 1)) {
      @content;
    }
  } @else if $media == tablet-desktop {
    @media only screen and (min-width: $tablet-min-width) {
      @content;
    }
  } @else if $media == desktop {
    @media only screen and (min-width: $desktop-min-width) {
      @content;
    }
  }
}
