/* CSS Style Rules

	Alphabetize Declarations 
	Indent All Block Content
	New Line Per Selector + Declaration
	Use Single Qutation Marks 
	Don't Use Quotation Marks For URL

*/

.ctr {
	display: flex; 
	flex-direction: column; 
	justify-content: center; 
} /* Vertical Center */

.row { margin: 0; width: 100%; }

img { width: 100%; height: auto; }


.half {
	width: 100%;
}