#play {
	padding: 125px 225px;
	background-color: black;
	transition: background-color 1s;
	display: flex;
	height: auto;
	overflow: hidden;
} #play:hover {
	background-color: var( --pink );
}

.play-h1,
.play-h4 {
	text-shadow: 3px 3px black;
}

.play-h1 {
	font-family: 'lato';
	color: white;
	font-size: 3em;
}

.play-h4 {
	color: rgba( 255, 255, 255, 0.8 );
}

	#play-left {
		float: left;
	}

		.play-info {
			padding: 50px 0;
		}

	/* END Play Left */

	#play-right {
		float: right;
		display: flex;
	}

		#play-title {
			padding-left: 20px;
		}

		.register-btn { 
			color: var( --yellow ); 
			text-shadow: 3px 3px 0px black; 
		} .register-btn:hover { 
			color: black; 
			text-decoration: none; 
			text-shadow: var( --ts-yellow );
		}

		.register-btn-box { 
			width: 0; 
			height: 15px; 
			background-color: black ;  
			display: inline-block; 
			padding-bottom: 5px; 
			margin-right: 15px;
			margin-bottom: 5px; 
			box-shadow: 3px 3px 0px var( --yellow ); 
		} .register-btn:hover > .register-btn-box { 
			width: 15px; 
		}

	/* END Play Right */

