#sponsors {
	background-color: black;
	padding: 125px;
}

	#sponsors-inner {
		background-color: white;
		height: 100%;
		width: 100%;
	}

		#sponsors-inner-left, 
		#sponsors-inner-right {
			width: 50%;
			height: 100%;
		}

		#sponsors-inner-left {
			float: left;
			padding: 50px;
			padding-left: 100px;
		}

			#sponsors-btn {
				background-color: var( --pink );
				border: 2px solid var( --pink );				
				color: white;
				font-weight: bold;
				padding: 10px 25px;
			} #sponsors-btn:hover {
				background-color: white;
				box-shadow: 3px 3px 0px var( --pink );
				color: black;
				text-decoration: none;
			}

		/* END Inner Left */

		#sponsors-inner-right { padding: 50px; }
		#sponsors-img-div { padding: 0px 50px; }

			.sponsors-img { 
				filter: grayscale( 100% ); 
				height: 100%; 
				padding: 50px; 
				width: 50%; 
			} .sponsors-img:hover { 
				cursor: pointer; 
				filter: grayscale( 0% ); 
			}

		/* END Inner Right */