@import "global.css";

#faq {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

#faq img {
  width: 5rem;
  transform: translateY(1.75rem);
}

.faq__questions {
  margin-top: 4rem;
}

/*-------------------------- ACCORDION --------------------------*/
.accordion, .accordion:active {
  text-align: left;
  background: none;
  border: none;
  font-weight: 900;
  font-size: 1.25rem;
  margin: 1rem 0;
  outline: none;
}

.accordion:hover {
  cursor: pointer;
}

.accordion::after {
  content: " ▼";
  /* margin-left: 1rem; */
  color: var(--yellow);
}

.active::after {
  content: " ⯅";
}

.accordion__panel {
  background-color: var(--darker-navy);
  color: var(--white);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.accordion__panel p {
  font-size: 1.15rem;
  width: 87%;
}

@media only screen and (max-width: 1000px) {
  #faq {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .faq__questions {
    margin-top: 1rem;
  }
} 

@media only screen and (max-width: 700px) {
  #faq {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  #faq img {
    width: 3rem;
    transform: translateY(0.75rem);
  }

  .accordion, .accordion:active {
    font-size: 1rem;
    margin: 0.75rem 0;
  }

  .accordion__panel p {
    font-size: 1rem;
    width: 87%;
  }
} 
