@import "global.css";

.footer {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 4em;
  padding-bottom: 4em;
  font-size: 0.75rem;
}

.footer img {
  width: 20em;
  margin-bottom: 2.5em;
}

.footer h1, .footer i, .footer li {
  color: var(--navy);
}

.footer h1 {
  margin-bottom: 2.5em;
}

.footer .button {
  padding: 0.75em 2.75em;
  font-size: 1.5em;
  background-color: #fff;
  color: var(--green);
}

.footer .button:hover, .footer .button:active{
  opacity: 1;
  background-color: var(--yellow);
  color: var(--navy);
  transition: all 0.3s;
}

.footer__socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}

.footer i {
  font-size: 3.5em;
  margin-right: 1.5em;
  transition: color 0.3s ease-in-out;
}

.footer a, .footer li {
  list-style-type: none;
  text-decoration: none;
  color: var(--navy);
  font-size: 1.25em;
  margin-right: 1em;
  display: inline;
}

.footer a:hover, .footer a:active, .footer i:hover, .footer i:active {
  color: var(--green);
  transition: color 0.2s;
}

@media only screen and (max-width: 700px) {
  .footer {
    padding-top: 3em;
    padding-bottom: 3em;
  }

  .footer a i {
    font-size: 2.5em;
    margin-right: 1rem;
  }

  .footer a, .footer li {
    display: block;
    margin-right: 0;
    margin-bottom: 1em;
  }

  .footer img {
    width: 15em;
  }
}

