@import "global.css";

.footer {
  background: url("../images/footer-bg.png");
  background-position: center;
  display: grid;
  grid-template-columns: repeat(2, auto);
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.footer h1, .footer i, .footer li {
  color: #fff;
}

.footer h1 {
  margin-bottom: 1.25rem;
}

.footer .button {
  background-color: var(--yellow);
  color: var(--navy);
}

.footer .button:hover {
  background-color: #fff;
  color: var(--green);
}

.footer i {
  font-size: 3.5rem;
  margin-right: 1.5rem;
  transition: color 0.3s ease-in-out;
}

.footer a, .footer li {
  list-style-type: none;
  text-decoration: none;
  color: #fff;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.footer a:hover, .footer a:active {
  opacity: 0.5;
  transition: opacity 0.3s;
}

.footer .button {
  padding: 0.75rem 2.75rem;
  font-size: 1.75rem;
}

.footer .button:hover, .footer .button:active{
  opacity: 1;
  transition: all 0.3s;
}