@import "global.css";

#hero {
  height: 100vh;
  background: url('../images/hero-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

#hero .button {
  position: absolute;
  right: 50%;
  bottom: 14.5%;
  transform: translateX(57%);
  font-size: 1.25em;
}

#hero .button:hover {
  background-color: var(--yellow);
  color: var(--navy);
}

@media only screen and (max-width: 700px) {
  #hero .button {
    font-size: 1em;
  }
} 