@import "global.css";

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  position: fixed;
  background-color: #fff;
  width: 100%;
  z-index: 10;
}

.nav li {
  list-style-type: none;
  display: inline;
  margin-left: 2.5rem;
}

.nav a {
  text-decoration: none;
}

.nav a:hover, .nav a:active {
  opacity: 0.5;
  transition: opacity 0.3s;
}

.nav .button:hover, .nav .button:active{
  opacity: 1;
  transition: all 0.3s;
}