@import "global.css";

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  position: fixed;
  background-color: transparent;
  width: 100%;
  z-index: 10;
  transition: top 0.5s, box-shadow 0.3s, color 0.2s;
}

.nav--scrolled {
  background-color: #fff;
  -webkit-box-shadow: 0px 25px 50px -12px rgba(0,0,0,0.075);
  -moz-box-shadow: 0px 25px 50px -12px rgba(0,0,0,0.075);
  box-shadow: 0px 25px 50px -12px rgba(0,0,0,0.075);
}

.nav li {
  list-style-type: none;
  display: inline;
  margin-left: 2.5rem;
}

.nav a {
  text-decoration: none;
}

.nav a:hover, .nav a:active {
  opacity: 0.5;
  transition: opacity 0.3s;
}

.nav .button:hover, .nav .button:active{
  opacity: 1;
  transition: all 0.3s;
}