@import "global.css";

#sponsors {
  padding-top: 10rem;
}

#sponsors img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: transform 0.3s;
}

#sponsors img:hover {
  transform: scale(1.1);
}

#sponsors h3::after {
  content: '_';
  color: var(--yellow);
}

#sponsors div {
  text-align: center;
  padding-top: 8rem;
}

.tier-title img {
  width: 60vw;
}

.tier-2 img {
  width: 30vw;
  margin-bottom: 5em;
}

.tier-1 img {
  width: 20vw;
  margin-bottom: 5em;
}

.tier-food img {
  width: 20vw;
}

@media only screen and (max-width: 1000px) {
  #sponsors {
    padding-top: 5rem;
  }

  #sponsors div {
    text-align: center;
    padding-top: 3rem;
  }

  .tier-2 img, .tier-1 img {
    margin-bottom: 3em;
  }
} 

@media only screen and (max-width: 700px) {
  #sponsors {
    padding-top: 3rem;
  }

  #sponsors div {
    text-align: center;
    padding-top: 1.5rem;
  }

  .tier-2 img, .tier-1 img {
    margin-bottom: 1.5em;
  }
} 