@import "global.css";

#sponsors {
  padding-top: 10rem;
  /* background-image: url('../images/sponsors-bg.png'); */
  background-repeat: no-repeat;
  background-position: right;
}

#sponsors p {
  margin-bottom: 2.5rem;
  width: 75%;
}

.tiers {
  margin-top: 5.75rem;
  /* display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center; */
  /* align-items: center; */
  /* padding: 3rem 2rem; */
  /* display: grid;
  grid-template-columns: repeat(4, 25%); */
  /* border-radius: 1.25rem;
  -webkit-box-shadow: 0px 25px 50px -12px rgba(0,0,0,0.175);
  -moz-box-shadow: 0px 25px 50px -12px rgba(0,0,0,0.175);
  box-shadow: 0px 25px 50px -12px rgba(0,0,0,0.175); */
  /* box-sizing: initial; */
  /* overflow: hidden; */
  /* text-align: center; */
  /* background: #fff; */
}

.tiers__panel {
  /* padding-right: 1.5rem; */
  background-color: #fff;
  border-radius: 1.25rem;
  padding: 3em 1em;
  margin-right: 1.5em;
  float: left;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* position: relative; */
  /* height: 30em; */
  /* height: 100%; */
}

.tiers__panel button {
  position: absolute;
  bottom: 0;
}

.tiers__panel h4, .tiers__panel p {
  color: var(--navy);
  text-align: center;
}

#sponsors .tiers__panel p {
  width: 100%;
  color: var(--green);
}

.tiers__panel ul {
  margin-left: 2rem;
  /* margin-bottom: 2.5rem; */
  text-align: left;
}

.tiers__panel ul li {
  color: var(--navy);
  margin-bottom: 0.75rem;
}

@media only screen and (max-width: 1000px) {
  #sponsors {
    margin-top: 1rem;
    padding-top: 5rem;
  }

  #sponsors p {
    margin-bottom: 2.5rem;
    width: 100%;
  }
} 

@media only screen and (max-width: 700px) {
  #sponsors  {
    padding-top: 3rem;
  }
} 