@import url('https://fonts.googleapis.com/css?family=Muli:400,700,900&display=swap');

:root {
  --navy: #1B3146;
  --yellow: #FFDF00;
  --green: #24CD8F;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Muli', sans-serif;
  color: var(--navy);
}

/*-------------------------- GLOBAL --------------------------*/
h1,h2,h3,h4 {
  font-weight: 900;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.25rem;
}

h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

h4 {
  font-size: 1.5rem;
}

p {
  font-size: 1.5rem;
}

.wrapper {
  padding-right: 7rem;
  padding-left: 7rem;
}

.button {
  background-color: var(--navy);
  padding: 0.5rem 1.5rem;
  border-radius: 100rem;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}

.button:hover, .button:active {
  background-color: var(--green);
  transition: all 0.3s;
}

/*-------------------------- NAV --------------------------*/
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  position: fixed;
  background-color: #fff;
  width: 100%;
  z-index: 10;
}

.nav li {
  list-style-type: none;
  display: inline;
  margin-left: 2.5rem;
}

.nav a {
  text-decoration: none;
}

.nav a:hover, .nav a:active {
  opacity: 0.5;
  transition: opacity 0.3s;
}

.nav .button:hover, .nav .button:active{
  opacity: 1;
  transition: all 0.3s;
}

/*-------------------------- HERO --------------------------*/
#hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background: url('../images/hero-bg.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right bottom;
}

#hero h2 {
  font-weight: 700;
  margin-bottom: 1.25rem;
}

/*-------------------------- ABOUT --------------------------*/
.about__section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: right;
  padding-top: 10rem;
}

.about__section img {
  width: 40%;
  margin-right: 10rem;
}

.about__section:nth-of-type(2) {
  text-align: left;
}

.about__section:nth-of-type(2) img {
  margin-right: 0;
  margin-left: 10rem;
}

/*-------------------------- SPONSORS --------------------------*/
#sponsors {
  padding-top: 10rem;
  background-image: url('../images/sponsors-bg.png');
  background-repeat: no-repeat;
  background-position: bottom right;
}

#sponsors p {
  margin-bottom: 2.5rem;
}

.tiers {
  margin-top: 2.5rem;
  padding: 3rem 2rem;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  border-radius: 1.25rem;
  -webkit-box-shadow: 0px 25px 50px -12px rgba(0,0,0,0.175);
  -moz-box-shadow: 0px 25px 50px -12px rgba(0,0,0,0.175);
  box-shadow: 0px 25px 50px -12px rgba(0,0,0,0.175);
  box-sizing: initial;
  overflow: hidden;
  text-align: center;
  background: #fff;
}

.tiers__panel {
  padding-right: 1.5rem;
  height: 100%;
}

.tiers__panel h4, .tiers__panel p {
  text-align: center;
}

.tiers__panel p {
  color: var(--green);
}

.tiers__panel ul {
  margin-left: 2rem;
  margin-bottom: 2.5rem;
  text-align: left;
}

.tiers__panel ul li {
  margin-bottom: 0.75rem;
}

.tiers a {
  margin: 0 2.5rem;
}

/*-------------------------- FAQ --------------------------*/
#faq {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

#faq img {
  width: 5rem;
  transform: translateY(1.75rem);
}

.faq__questions {
  display: grid;
  grid-template-columns: repeat(2, auto);
  margin-top: 4rem;
}

/*-------------------------- FAQ ACCORDION --------------------------*/
.accordion, .accordion:active {
  background: none;
  border: none;
  font-weight: 900;
  font-size: 1.25rem;
  margin: 1rem 0;
  outline: none;
}

.accordion:hover {
  cursor: pointer;
}

.accordion::after {
  content: "▼";
  margin-left: 1rem;
  color: var(--yellow);
}

.active::after {
  content: "⯅";
}

.accordion__panel {
  background-color: #fff;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.accordion__panel p {
  font-size: 1.15rem;
  width: 90%;
}

/*-------------------------- FOOTER --------------------------*/
.footer {
  background: url("../images/footer-bg.png");
  background-position: center;
  display: grid;
  grid-template-columns: repeat(2, auto);
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.footer h1, .footer i, .footer li {
  color: #fff;
}

.footer h1 {
  margin-bottom: 1.25rem;
}

.footer .button {
  background-color: var(--yellow);
  color: var(--navy);
}

.footer .button:hover {
  background-color: #fff;
  color: var(--green);
}

.footer i {
  font-size: 3.5rem;
  margin-right: 1.5rem;
  transition: color 0.3s ease-in-out;
}

.footer a, .footer li {
  list-style-type: none;
  text-decoration: none;
  color: #fff;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.footer a:hover, .footer a:active {
  opacity: 0.5;
  transition: opacity 0.3s;
}

.footer .button {
  padding: 0.75rem 2.75rem;
  font-size: 1.75rem;
}

.footer .button:hover, .footer .button:active{
  opacity: 1;
  transition: all 0.3s;
}
